/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Montserrat", sans-serif !important;
  background-color: whitesmoke;
  overflow-x: hidden;
  
}
.loader{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) !important;
}
.bs-1{
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  z-index: 20;
}
.header{
  padding: .6rem 6rem;
  width: 100%;
  
}

.header .ant-btn{
  border: none !important;
  outline: none !important;
  padding: 10px !important;
  color: orangered !important;
  border: 1px solid orangered !important;
  border-radius: 5px !important;
}
.header a{
  text-decoration: none !important;
}

h1{
  font-size: 2.5rem !important;
  font-weight: bold;
}
.content{
  min-height: 80vh;
  width: 100%;  
}
.car{
  border-radius: 5px;
  /* border: 1px solid black; */
  margin: 3rem 0 !important;
  height: 8rem !important;
}
.car:hover{
  height: 12rem !important;
  transition: 0.5s ease-in-out;
  height: 11rem !important;
}

.car:hover > .car-content{
  opacity: 1;
  transform: translateY(-3rem);
  
}

.car-img{
  height: 8.5rem;
  width: 100%;
  border-radius: 10px;
  object-fit: contain;
  text-align: center;
  /* box-shadow:  1px 1px 10px gray; */
  /* border: 1px solid gray; */
  transform: translateY(-3rem);  
}

.car-content{
  transform: translateY(-9rem);
  opacity: 0;
  transition: 0.5s ease-in-out;
  
}

p{
  margin: 6px !important;
  text-align: left;
  padding: 0;
}

.btn-1{
  border: none;
  outline: none;
  padding: 10px;
  background-color: white;
  color: orangered;
  border: 1px solid orangered;
  border-radius: 5px;
}

.auth-pages{
  background-color: black;
  min-height: 100vh;
  
}
.auth-pages label, .auth-pages h1{
  color: whitesmoke !important;
}
.auth-form{
  background-color: rgb(33, 32, 32);
  border-radius: 10px;
  border: 1px solid rgb(64, 64, 64);
  box-shadow: 1px 1px 5px rgb(74, 74, 74), inset 1px 2px 2px rgb(122, 121, 121);
  /* background-color: transparent; */
}
.auth-form input{
  background-color: rgb(78, 78, 78);
  border: none;
  outline: none;
  
}
.auth-form > p{
  color: rgb(137, 136, 136);
  margin: 10px 0 !important;
  
}
.auth-form .auth-toggle{
  text-decoration: underline;
  color: rgb(209, 207, 207);
  margin: 10px 0 !important;
}
.auth-btn{
  border: none;
  outline: none;
  padding: 3px 12px;
  background-color: rgb(173, 171, 171);
  color: rgb(48, 47, 47);
  font-size: 1.1rem;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgb(135, 134, 134);
  /* border: 1px solid white; */
  border-radius: 5px;
  box-shadow: inset 1px 1px 5px rgb(91, 91, 91), 1px 1px 2px gray;
}

.auth-bg-logo{
  position: absolute;
  left: 0;
  right: 0;
  top: 57%;
  left: 66%;
  transform: translate(-50%, -50%);
}
.auth-bg-logo > h1{
  color: white;
  opacity: 0.5;
  border-bottom: 2px dashed gray;
  text-align: center;
  width: 50%;
}
.auth-bg-logo > p{
  color: white;
  position: absolute;
  left: -4.3rem;
  font-size: 1rem;
  opacity: 0.5;
  text-align: center;
  /* border-bottom: 1px solid gray; */
}










@media screen and (max-width: 1054px){
  .header{
    padding: .5rem 5rem;
  }
  .cars-container{
    margin: 0 5px
  }
  
}
@media screen and (max-width: 800px){
  .header{
    padding: .4rem 4rem;
  }
  .cars-container{
    margin: 0 12px
  }
}
@media screen and (max-width: 510px){
  .header{
    padding: .3rem 3rem;
  }
  h1{
    font-size: 2.2rem !important;
  }
}
@media screen and (max-width: 350px){
  .header{
    padding: .2rem 2rem;
  }
  h1{
    font-size: 2rem !important;
  }
}
@media screen and (max-width: 290px){
  .header{
    padding: .2rem 1rem;
  }
  h1{
    font-size: 1.8rem !important;
  }
}